extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div.animated_logo
      img.animated_logo(src="/static/images/tester_logo_2.gif")

      //-desc
      p.lead.text-light
        | I'm a Full Stack Web Developer based in Worcester, MA seeking a new opportunity to expand my skills.
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            h5= project.project_name
            if project.image_urls[1]
              img.thumbnail(src=`${project.image_urls[1]}` alt=`${project.project_name}`)
            else
              img.thumbnail(src=`${project.image_urls[0]}` alt=`${project.project_name}`)
        
