extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Use interpolation to dynamically add the project title.
        h1 #{project.project_name}

        //- Use interpolation to dynamically add the project description.
        p.lead.text-light
          | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each tech in project.technologies
            li= tech

        //- Use template literals and interpolation to add URLs to the hrefs below so they link to the repo and the live version of each project.
        a.button.expanded(href=`${project.live_link}` target="_blank") Live Demo
        if project.github_link
          a.button.expanded(href=`${project.github_link}` target="_blank") GitHub Repo
    
    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential employers will like to see. 
    img.image(src=`${project.image_urls[0]}`)
    if project.image_urls[2]
      img.image(src=`${project.image_urls[2]}`)
    if project.image_urls[3]
      img.image(src=`${project.image_urls[3]}`)


