extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Use interpolation to dynamically add the project title.
        h1 #{project.project_name}

        //- Use interpolation to dynamically add the project description.
        p.lead.text-light
          | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each tech in project.technologies
            li= tech


        if project.live_link.length > 0
          a.button(href=`${project.live_link}` target="_blank")
            i.fas.fa-external-link-alt.fa-3x
        if project.github_link
          a.button(href=`${project.github_link}` target="_blank")
            i.fab.fa-github.fa-3x
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      .cell
        img.thumbnail(src=`${project.image_urls[0]}` alt=`${project.project_name}`)
        if project.image_urls[2]
          img.thumbnail(src=`${project.image_urls[2]}` alt=`${project.project_name}`)
        if project.image_urls[3]
          img.thumbnail(src=`${project.image_urls[3]}` alt=`${project.project_name}`)


